/* Mikes CSS file for Stage 1 */
/* parts of the CSS file was repurposed from the instructors CSS. I significant chnages to the CSS file to prove I understood what's happening in the CSS file*/
body {
	padding: 10px;
	font-family: Arial;
  font-size: 1.0em;
	max-width: 1800px;
	margin: auto;
	}                 
h1 {
	text-align: center;
	color: black;
}
p {
	margin: auto;
}
ul {
	list-style-type: none; 
}
li {
	font-size: 18px;
	line-height: 40px; 
}
.lesson {
	background-color: black;
	border-radius: 20px;
	color: white;
	padding: 6px;
	margin: 6px;
}
.lesson_1 {
	background-color: black;
  border-radius: 17px;
	color: white;
	padding: 8px;
	margin: 10px auto;
}
h1 {
	margin: 10px;
  }
.concept {
	background-color:white;
	padding: 12px;
	margin: 2px;
	border-radius: 4px;
  color: black;
}

.concept-title {
	font-size: 26px;
	margin: 6px;
	text-align:left;
	color: black;
}

.concept-description {
	font-weight:normal;
	margin: 6px;
  padding-left:  3px;
	padding-right: 3px;
}

.code {
	font-family: Arial;
	color : black;
	font-weight:bold;
	padding-left:  3px;
	padding-right: 3px;
}
